@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e8e8e8;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #3a3a3a;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #e8e8e8;
    }
}