body {
  /*font-size: x-large;*/
}

body, html {
  background-color: black;
}

html:has(body.bg-white) {
  background: white;
}
div:has(#exif-info) #image {
  max-height: calc(1350px - 12rem)
}

#image {
  max-height: calc(1350px - 4rem)
}